.benefits {
  background-color: #f9f9f9;
  padding: 48px 16px;
  text-align: center;
}

.benefits-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.benefits-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  color: #141024;
  margin: 0;
}

.benefit-note-container {
  margin-top: 16px;
}

.benefit-note {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #141024;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.benefit-note:hover {
  box-shadow: 0px 2px 8px 0px #1410241a;
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.benefit-note:active {
  background-color: #141024;
  color: #ffffff;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.benefit-item {
  padding: 24px;
  max-width: 300px;
  text-align: left;
}

.benefit-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 38.4px;
  color: #141024;
  margin-bottom: 8px;
}

.benefit-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #141024b2;
  margin-bottom: 16px;
}
