.signup {
  background-color: #d52027;
  padding: 32px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 32px;
}

.signup-text {
  flex: 1;
  max-width: 50%;
}

.signup-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 46.8px;
  color: #ffffff;
  margin-bottom: 16px;
}

.signup-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

.signup-form {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
  color: #141024b2;
}

.signup-input::placeholder {
  color: #cccccc;
}

.signup-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: #ffffff;
  background-color: #141024;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-button:hover {
  background-color: #141024;
  transform: scale(1.05);
}

.signup-button:active {
  background-color: #ffffff;
  color: #141024;
}
