html {
  box-sizing: border-box;
  font-size: 10px;
}

@media (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Jost", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.carousel__wrap {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__inner {
  height: 40rem;
  width: calc(30rem * 3);
  position: relative;
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide__list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc((5 + 0.5) * 30rem * 2);
}

.carousel__slide__item {
  display: inline-block;
  height: 30rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 30rem;
}

.carousel__slide__item__img__link {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 100%;
}

.carousel__slide__item__img__link img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
}

.carousel__slide__item__img__link:hover img {
  transform: scale(1.3);
}

.carousel__slide__item__body {
  position: absolute;
  bottom: -2.5rem;
  height: 10%;
}

.carousel__slide__item__body h4 {
  color: var(--black);
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}

.carousel__slide__item__body p {
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--gray);
  margin: 0.7rem 0 0;
}

.carousel__btn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn__prev {
  left: -10rem;
}

.carousel__btn__next {
  right: -10rem;
}

.carousel__btn__arrow {
  border: solid var(--black);
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
}

.carousel__btn__arrow__left {
  transform: rotate(135deg);
}

.carousel__btn__arrow__right {
  transform: rotate(-45deg);
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}

.carousel__dots .dot {
  background-color: var(--dark-gray);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}

.carousel__dots .dot.active {
  background-color: var(--black);
}
