.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  color: var(--white);
}

.footer__description {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--light-gray);
}

.footer__contact {
  display: flex;
  align-items: center;
}

.footer__contact-link {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  color: var(--white);
  text-decoration: none;
}

.footer__contact-link:hover {
  color: var(--red);
}
