.pricing {
  padding: 32px 16px;
  text-align: center;
}

.pricing__title {
  font-family: var(--font-family);
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  color: var(--black);
  margin-bottom: 32px;
}

.pricing__cards__container {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.pricing__card {
  background: var(--white);
  border: 1px solid var(--border-gray);
  border-radius: 20px;
  padding: 24px;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 8px var(--shadow-gray);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  color: var(--black);
}

.pricing__card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px var(--red);
  background-color: var(--black);
  color: var(--white);
}

.pricing__card__title {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.pricing__card__price {
  font-family: var(--font-family);
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  margin: 8px 0;
}

.pricing__card__description {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  margin: 8px 0 24px;
}

.pricing__cta__button {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.pricing__cta__button:hover {
  background-color: var(--light-red);
  transform: scale(1.05);
}

.pricing__cta__button:active {
  background-color: var(--white);
  color: var(--red);
}
